---
import '../styles/global.css';
import Layout from '@layouts/main.astro';

// ページのメタデータ
const pageContent = {
  title: 'Astro + React'
};
---

<Layout content={pageContent}>
 	<div class="w-full bg-white text-black">
		<section class="mx-auto flex h-screen min-h-[700px] max-w-7xl flex-col bg-white">
			<div class="flex w-full flex-1 items-center justify-center px-8">
				<div class="flex flex-1 flex-col items-center justify-center gap-8 md:flex-row md:justify-between">
					<h1 class="inset-0 flex items-center justify-center text-[clamp(1.5rem,5vw,3rem)] font-bold leading-relaxed">
						<span class="text-start">
							Say Hello!
							<br />
							<span class="text-purple-500">こんにちは</span>
						</span>
					</h1>
					<div class="flex flex-1 justify-end">
						<div class="relative h-[clamp(300px,60vw,300px)] w-[clamp(300px,10vw,300px)]">
							<img
								src="heratemoji.png"
								alt="トップイメージ"
								class="object-contain"
							/>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</Layout>