---
import '../styles/global.css';
import InteractiveHeader from '@components/ts/header';

const { content } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{content.title}</title>
  </head>
  <body>
    <!-- ページ読み込み時にハイドレーション開始 -->
    <InteractiveHeader client:load title={content.title} />
    <main class="pt-16">
        <slot />
    </main>
  </body>
</html>