---
import Layout from '@layouts/main.astro';
import { ButtonCounter } from '@components/ts/buttonCounter';
---
<Layout content={{ title: 'About Us' }}>
  <div>
    <section class="flex h-screen w-full items-center justify-center bg-white text-black">
      <div class="flex flex-col gap-y-7">
        <h1 class="text-3xl font-bold">カウンター</h1>
        <ButtonCounter client:load initialCount={1} />
      </div>
    </section>
  </div>
</Layout>